<p>
	<strong>Title:</strong>
	<%= @provider.first_name %> <%=@provider.last_name %>
</p>
<p>
	<strong>Text:</strong>
	<%= @provider.zip %>
</p>


<%= link_to 'Back To Providers', providers_path%>
