<div class="mainContent">
	<div class="titleDiv">
		<h2><%= APP_NAME %></h2>
	</div>
	<div class="sloganDiv">
		<h5>"Help On Your Time"</h5>
		<%= link_to providers_path do %>
		<div class="label gridLinkBox">
			Speak to a therapist now!
		</div>
		<%end%>
	</div>
</div>

