<div class="mainContent label">
	<div class="mainContentHeader">
		<h1 class="label">Terms Of Use</h1>
		</div>
	<div class="mainContentPrepare">
		Please read the following important terms and conditions (“Terms”) carefully. These Terms govern your access to and use of the Services (defined in Section 2 below), and constitute a binding legal agreement among you, as a user of the Services, and Breakthrough Behavioral, Inc., Breakthrough Behavioral of Texas, Inc., Breakthrough Behavioral Network, P.C. and any other entities controlling, controlled by or under common control with the foregoing (collectively, “Breakthrough,” “we” or “us”).

		IMPORTANT: Breakthrough is not a health insurance company and is not licensed to sell health insurance. Breakthrough is an e-health platform in that we offer to connect patients of our affiliated health plans with our network of affiliated mental health professionals (“Treatment Providers”) to obtain online psychiatric, counseling and therapy services. Treatment Providers may include, but are not limited to, psychologists, psychiatrists, nurses, counselors, clinical social workers, and marriage and family therapists. “Treatment Providers” include employees, agents, or independent contractors of Treatment Providers. Treatment Providers listed on Breakthrough are paid for their clinical services and have no financial interest in Breakthrough. Treatment Providers listed on Breakthrough have an active license in the states listed on their profile. “Breakthrough” or the terms “we” or “us” or similar terms refer to Breakthrough Behavioral, Inc. “You” or “your” or similar terms refer to you as a user of our Services (defined below).

		USE OF THE SERVICES IS NOT FOR EMERGENCIES. IF YOU THINK YOU HAVE A MEDICAL OR MENTAL HEALTH EMERGENCY, OR IF AT ANY TIME YOU ARE CONCERNED ABOUT YOUR CARE OR TREATMENT, CALL 911 OR GO TO THE NEAREST OPEN CLINIC OR EMERGENCY ROOM.

		IF YOU ARE CONSIDERING OR CONTEMPLATING SUICIDE OR FEEL THAT YOU ARE A DANGER TO YOURSELF OR TO OTHERS, YOU MUST DISCONTINUE USE OF THE SERVICES IMMEDIATELY, CALL 911, OR NOTIFY APPROPRIATE POLICE OR EMERGENCY MEDICAL PERSONNEL.

		1. Applicability of These Terms.

		Your access to and use of the Services is conditioned on your compliance with these Terms. By becoming a registered user and/or accessing and/or using the Services, the Site, or any portion of the Services or the Site, you agree to be bound by these Terms and all applicable laws and regulations governing the Services. If you do not agree with these Terms, you are not authorized to access or use the Services for any purpose. Additional terms and conditions applicable to specific areas of the Site or to particular transactions are also posted in particular areas of the Site and, together with these general Terms, govern your use of those areas. If you do not agree with any of these additional terms and conditions, you are not authorized to access or use those areas of the Site.

		2. Our Services.

		The Breakthrough e-health platform includes, without limitation, the following services (collectively, the “Services”):

		(a) the facilitation of electronic or telephonic communications with Treatment Providers,

		(b) the provision of appointment scheduling and reminders, claims submission and processing, and other services related to online counseling and therapy for both our registered users and Treatment Providers, and

		(c) the provision of other information about Breakthrough and our products and services through our website, http://www.breakthrough.com (the “Site”).

		THE SERVICES DO NOT INCLUDE THE PROVISION OF MEDICAL CARE, MENTAL HEALTH SERVICES, OR OTHER PROFESSIONAL SERVICES BY BREAKTHROUGH. Rather, Breakthrough is a technology provider that facilitates access to, and the billing and payment of, online counseling services (provided by Treatment Providers) through the Breakthrough platform.

		TREATMENT PROVIDERS ARE NOT THE EMPLOYEES OR AGENTS OF BREAKTHROUGH. Each Treatment Provider is responsible for obtaining your informed consent to any medical diagnosis or treatment, including without limitation, your consent to use telehealth in the course of any consultation conducted through the Services, to the extent such consent is required by applicable state law.

		3. Delivery of Medical Advice.

		While the Services may provide access to certain general medical information, and also may provide messaging functionality to contact your Treatment Provider(s), the Services cannot and are not intended to provide medical advice. We advise you to always seek the advice of a physician or other qualified healthcare provider with any questions regarding your personal health or medical conditions. Never disregard, avoid, or delay in obtaining medical advice from your doctor or other qualified healthcare provider because of something you have read on the Site. If you have or suspect that you have a medical problem or condition, please contact a qualified healthcare professional immediately.

		To the extent medical advice is provided to you by a Treatment Provider through the Services, such medical advice is based on your personal health data as provided by you and the local standards of care for your presenting symptoms, based on your use of the Services. Responses are not provided by Breakthrough, but are provided by your Treatment Provider.

		THE CONTENT ON THE SITE (OTHER THAN A DIRECT RESPONSE FROM A QUALIFIED TREATMENT PROVIDER) IS NOT AND SHOULD NOT BE CONSIDERED MEDICAL ADVICE OR A SUBSTITUTE FOR INDIVIDUAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. YOU SHOULD ALWAYS TALK TO YOUR MEDICAL PROFESSIONALS FOR DIAGNOSIS AND TREATMENT, INCLUDING INFORMATION REGARDING WHICH DRUGS OR TREATMENT MAY BE APPROPRIATE FOR YOU. NONE OF THE INFORMATION ON THE SITE REPRESENTS OR WARRANTS THAT ANY PARTICULAR DRUG OR TREATMENT IS SAFE, APPROPRIATE, OR EFFECTIVE FOR YOU.

		4. Eligibility Requirements to Access Member Portions of the Site.

		Access to certain portions of the Site and/or certain Content is restricted to registered users of our Services.

		As part of our registration process, if you want to use your health insurance to help pay for Treatment Provider counseling services (“Treatment Provider Services”) delivered through Breakthrough, you must identify your health insurance information so that we can confirm your eligibility. You also must provide us with personal identification information, billing information, and certain other information, as specified in the Site. We need this information so that we can verify your identity, request confirmation of your eligibility from your insurer, if any, initiate billing charges, and make the full scope of member benefits available to you through the Site. This information will only be used by us and our Treatment Providers as permitted by our Terms and our Privacy Policy. The information will be made available for use by the Treatment Provider(s) you designate.

		Payment policies

		You agree to promptly pay all fees and charges for Treatment Provider Services, and you authorize us to automatically deduct all applicable charges and fees from the payment account(s) you designate in your Breakthrough user profile.

		You understand and agree that you will be responsible for a missed appointment fee equal to the fees you and your insurer or other payor would have paid for the scheduled services if you do not cancel a scheduled appointment at least one business day in advance.

		Any "linked" payment processing accounts with third parties (such as PayPal) will appear in your user profile on the Site, and you will be able to view at least certain summary information for all such linked payment accounts. You agree to be responsible for any telephone charges and/or Internet service fees you incur in accessing your account(s) through the Services.

		If you have a health benefits policy that provides mental health coverage, you may be entitled to insurance reimbursement for Treatment Provider Services. You can discuss this with your insurance company by contacting them directly. Breakthrough offers no guarantee that you shall receive any such reimbursement.

		Regardless of insurance reimbursement, payment to your Treatment Provider(s) or Breakthrough on behalf of your Treatment Provider(s), as applicable, for co-payments, deductibles and co-insurance amounts for Treatment Provider Services, is required at the time of each appointment. If you do not have insurance coverage for Treatment Provider Services, or if your coverage is denied, you acknowledge and agree that you shall be personally responsible for all incurred expenses.

		Finally, in order to access the member-only portions of the Services, you must provide us with a current, valid email address so that we may contact you. By creating an Account, you agree to keep your email address updated.

		There is no guarantee that you will be accepted as a registered user, or as a patient by one of our Treatment Providers. Even if you are accepted as a patient by a Treatment Provider, your Treatment Provider may determine that online counseling services are not appropriate for some or all of your treatment needs, and accordingly may elect not to provide online counseling services to you through the Services in your Treatment Provider’s sole discretion.

		5. Registered User Accounts.

		In order to access certain features of the Services you will be required to become a registered user of the Services by creating a Breakthrough account (“Account”). To create an Account, you must be of legal age to form a binding contract. If you are not of legal age to form a binding contract, you may not register to use our Services. When you register, you will be asked to choose a password. You are responsible for safeguarding and maintaining the confidentiality of your password and you agree not to disclose your password to any third party. You will be solely responsible for any activities or actions taken under your Account, whether or not you have authorized such activities or actions. You must notify us immediately if you know or suspect that any unauthorized person is using your password or your Account (for example, your password has been lost or stolen, someone has attempted to use the Services through your account without your consent or your Account has been accessed without your permission). We strongly recommend that you do not use the Services on public computers. We also recommend that you do not store your password through your web browser or other software.

		You agree that the information that you provide to us at all times, including during registration and in any information you upload to your Breakthrough online profile maintained by or through the Services will be true, accurate, current, and complete. This information includes, but is not limited to, name, address, phone numbers, email addresses, payment information, and account numbers. Changes can be made in your user profile. Each time you log in to our Services, we will remind you to update your information, but you are solely responsible for the accuracy and completeness of your information. By using the Services, you are consenting to truthfully complete questions to the best of your knowledge and ability. By creating an Account, you expressly consent to the use of: (a) electronic means to complete these Terms and to provide you with any notices given pursuant to these Terms; and (b) electronic records to store information related to these Terms or your use of the Services. Breakthrough cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.

		6. Treatment Provider Profiles.

		As part of Breakthrough’s e-health platform, Breakthrough may provide profile pages for Treatment Providers to enable them to post relevant information about their education, training, experience, and areas of specialization. Treatment Providers are solely and exclusively responsible for the content of their respective profiles, and Breakthrough expressly disclaims any and all liability for the content of the Treatment Provider profiles, including, without limitation, the accuracy or reliability of any information contained therein.

		7. Your Breakthrough Profile.

		Your Breakthrough profile will be established and maintained for you as a registered user of the Services to enter, store, and access your health information online, and for your Treatment Providers to communicate with you about your care. This may include history, current conditions, symptoms, complaints, allergies and medications. All of the information contained in your Breakthrough profile will be maintained in accordance with our Terms and our Privacy Policy. You agree to provide accurate and complete information for your Breakthrough profile, to periodically review such information, and to update information that you provide as needed. Please refer to our Privacy Policy for more information.

		Treatment Providers may add electronic progress notes to their Breakthrough account or personal records after consultations with you, detailing the findings, diagnosis, treatment plan, and recommendations, including any laboratory tests that were ordered and any medications that were prescribed by your Treatment Provider. We will make available to your Treatment Provider any progress notes in your Breakthrough profile.

		We may also include in your Breakthrough profile information provided by your employer or its third-party administrator, or your health insurer, concerning your health plan application, medical history, and claims information. You consent to our access to this information and to our adding it to your Breakthrough profile. This information will assist us in verifying your identity and it will assist our Treatment Providers in providing online counseling services to you. As part of your Breakthrough profile, this information will be subject to the protections under our Privacy Policy.

		It is your responsibility to confirm the accuracy of any third party information uploaded to your Breakthrough profile.

		IT IS THE OBLIGATION OF EACH OF YOUR TREATMENT PROVIDERS AND BREAKTHROUGH TO USE AND DISCLOSE ANY INFORMATION INCLUDED IN YOUR BREAKTHROUGH PROFILE IN ACCORDANCE WITH APPLICABLE STATE AND FEDERAL LAWS, INCLUDING, WITHOUT LIMITATION, OBTAINING ANY CONSENTS OR AUTHORIZATIONS THAT MAY BE REQUIRED FOR YOUR INFORMATION TO BE SHARED WITH THIRD PARTIES. BY REGISTERING FOR THE SERVICES AND DESIGNATING YOUR TREATMENT PROVIDER(S), YOU AGREE TO DISCLOSE THE CONTENTS OF YOUR COMPLETE BREAKTHROUGH PROFILE TO YOUR DESIGNATED TREATMENT PROVIDER(S).

		ALL COMMUNICATIONS TRANSMITTED THROUGH THE SERVICES, INCLUDING WITHOUT LIMITATION BREAKTHROUGH’S SECURE MESSAGING PLATFORM, MAY BE RECORDED OR MONITORED FOR QUALITY ASSURANCE AND TRAINING PURPOSES. BY ACCEPTING THESE TERMS OF SERVICE, YOU CONSENT TO ANY SUCH RECORDING OR MONITORING. SIMILARLY, ALL MESSAGES TRANSMITTED THROUGH BREAKTHROUGH’S SECURE MESSAGING PLATFORM ARE SAVED AND BECOME PART OF YOUR BREAKTHROUGH PROFILE.

		8. Responsibility for Your Care; Verifying Credentials of Treatment Providers.

		Your medical care and your mental health care are solely the responsibility of you and your Treatment Provider(s).

		Under the Services, mental health advice and services are provided exclusively by Treatment Providers. Breakthrough supports Treatment Providers by providing them with a license to our Breakthrough intellectual property rights, including our patent pending inventions, trade secrets, copyrights, trademarks, service marks, trade dress and proprietary and confidential information, access to Breakthrough’s technology platform, and administrative services. However, under the Services, exclusive control and responsibility for the practice of medicine and delivery of mental health services is reserved to Treatment Providers.

		All Treatment Providers available through the Services represent that they have degrees, licenses and/or certifications, as applicable, in the areas of psychology, psychiatry, marriage and family therapy, clinical social work, or counseling. Breakthrough attempts to confirm the credentials of all Treatment Providers and to validate that they are in good standing with their respective licensure board(s). However, Breakthrough is not responsible for credentialing Treatment Providers, makes no representation regarding the accuracy of Treatment Providers’ credentials, and expressly disclaims any liability for fraudulent credentials or claims by Treatment Providers. In addition, changes in your Treatment Provider’s professional status could occur between the time we perform an initial credential check and the time you select your Treatment Provider. We recommend that you separately confirm that your Treatment Provider is in good standing with his or her respective licensing board(s).

		9. Use of the Services by Children.

		The provision of online counseling services by Treatment Providers through the Services is available for use by children age 3 and above, but the registered user for all patients under the age of 18 must be the patient’s parent or legal guardian and the patient’s parent or legal guardian must take part in each online consultation. If you register as the parent or legal guardian on behalf of a minor, you will be fully responsible for complying with our Terms and our Privacy Policy.

		10. Privacy.

		When you use the Services, Breakthrough will collect certain personally identifiable information from you as set forth in more detail in our Privacy Policy, which is hereby incorporated by reference. When you use the Services, Breakthrough has access to, and in many cases will monitor, your usage of the Services as you send and receive Content (as defined in Section 14 below). By using the Services, you agree that Breakthrough may collect, use, and disclose information you provide during your use of the Services, as set forth in our Privacy Policy. As part of providing you the Services, we may need to provide you with certain communications, such as appointment reminders, service announcements and administrative messages. These communications are considered part of the Services and your Account, which you may not be able to opt out from receiving.

		Secure electronic messaging is always preferred to insecure email, but under specific circumstances, insecure email communication containing protected health information (“PHI”) may take place between you and Breakthrough.

		For your convenience, Breakthrough lets you choose whether to receive email communications containing PHI. This email communication is not encrypted and may include messages from your Treatment Provider, appointment reminders, treatment referrals, and prescription information.

		You should consider that standard email is not a secure means of communication. There is some risk that any PHI contained in email may be disclosed to, or intercepted, printed, or stored by, unauthorized third parties. Breakthrough cannot ensure the security or confidentiality of messages sent by email.

		You will receive email communication from Breakthrough and Treatment Providers. If you choose to receive PHI in emails, you authorize Breakthrough to send you messages that include PHI, which may include disclosure of mental illness, substance abuse, and sexually transmitted disease. This authorization indicates you understand and accept the risks involved with insecure email communication of your PHI.

		You may always elect not to receive message content containing PHI. In that case, you would instead receive secure notifications of new messages that require you to log in to Breakthrough’s secure site to read message content. We recommend this option if you want to increase the security and confidentiality of your communications on Breakthrough.

		Even if you have requested us to send email containing PHI to you, you may revoke this request by changing this setting at any time on the user registration page, at the bottom of emails from Breakthrough, or in your account profile.

		Breakthrough also may contact you to cancel, schedule or reschedule appointments via phone. By providing your contact information and agreeing to these Terms of Service, you give your consent to Breakthrough to leave voice messages or speak with third parties at the phone numbers provided by you. Such contact by Breakthrough will not divulge your personal health information and will be limited to confirmation or rescheduling of appointments with Providers. If you wish to opt out of such communications, please contact customer services at techsupport@breakthrough.com to request “Confidential Communications” and all reasonable requests shall be accommodated.

		11. User Supplied Material.

		If you supply any comments, information, or material via the Site, you represent and warrant to us that you have the legal right to supply such material and that it will not violate any law or the rights of any person or entity. Except for any individually identifiable health information you submit to us, all information or material you supply to us through the Site shall be deemed and shall remain our property, and you hereby assign to Breakthrough all right, title, and interest in and to any such information or material, without any restriction or obligation to you.

		12. Restrictions on Conduct.

		The Services may be used and accessed for lawful purposes only. You agree to abide by all applicable local, state, national and foreign laws, treaties and regulations in connection with your use of the Services.

		In addition, without limitation, you agree that you will not do any of the following while using or accessing the Services:

		(a) upload, post, email or otherwise transmit any Content to which you do not have the lawful right to copy, transmit and display (including any Content that would violate any confidentiality or fiduciary obligations that you might have with respect to the Content);

		(b) upload, post, email or otherwise transmit any Content that infringes the intellectual property rights or violates the privacy rights of any third party (including without limitation copyright, trademark, patent, trade secret, or other intellectual property right, or moral right or right of publicity);

		(c) use the Services to collect or store personal data about other users without their express permission;

		(d) knowingly include or use any false or inaccurate information in any profile;

		(e) upload, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, “pyramid schemes” or any other form of solicitation, as well as viruses or other computer code that may interrupt, destroy, limit the functionality of the Services, or interfere with the access of any other user to the Services;

		(f) circumvent, disable, or otherwise interfere with security-related features of the Services or features that prevent or restrict use or copying of any Content;

		(g) use any meta tags or other hidden text or metadata utilizing a Breakthrough name, trademark, URL or product name;

		(h) attempt to probe, scan or test the vulnerability of any Breakthrough system or network or breach or impair or circumvent any security or authentication measures protecting the Services;

		(i) attempt to decipher, decompile, disassemble, reverse engineer, or otherwise attempt to discover or determine the source code of any software or any proprietary algorithm used to provide the Services;

		(j) use the Services in any way that competes with Breakthrough, including, without limitation, misrepresenting one’s identity or posing as a current or prospective patient in order to solicit or recruit Treatment Providers, directly or indirectly; or

		(k) encourage or instruct any other person or entity to do any of the foregoing.

		13. Termination; Cancellation.

		Breakthrough is continually evolving and innovating. We may change our Services, our Site, the Content we offer, and the products or services you may access at any time. We may discontinue offering our Services or Site and we may suspend or terminate your right to use our Services or Site at any time, in the event that you breach these Terms, for any reason, or for no reason at all, in our sole discretion, and without prior notice to you. After such termination, Breakthrough will have no further obligation to provide the Services, except to the extent we are obligated to provide you access to your health records or Treatment Providers are required to provide you with continuing care under their applicable legal, ethical and professional obligations to you.

		Upon termination of your right to use our Services or Site or our termination of the Services or Site, all licenses and other rights granted to you by these Terms will immediately terminate.

		You may terminate your Account at any time and for any reason by sending Breakthrough notice or deactivating your account through your Profile. Upon any termination by you, your Account will no longer be accessible. Any cancellation request will be handled within 30 days of receipt of such a request by Breakthrough.

		Any suspension, termination, or cancellation will not affect your obligations to Breakthrough under these Terms which by their nature are intended to survive such suspension, termination, or cancellation. For example, but not by way of limitation, upon any such suspension, termination, or cancellation the provisions of Section 14 (Ownership of Intellectual Property Rights), Section 16 (Third Party Websites; Interest-Based and Other Advertisements), Section 17 (Disclaimer of Warranties), Section 18 (Indemnification), Section 19 (Limitation of Liability), Section 21 (General Terms), Section 22 (Arbitration) and Section 23 (Governing Law and Forum for Disputes) shall survive and remain in full force and effect, but the provisions of Section 15 (Your License to Use the Services) shall be suspended, terminated or cancelled, as the case may be.

		14. Ownership of Intellectual Property Rights.

		The Services, the Site, and all information and/or content that you see, hear, or otherwise experience on the Site (collectively, “Content”) are protected by U.S. and international copyright, trademark, and other laws. We own or have the license to use all of the intellectual property rights relating to Breakthrough, the Services, the Site, and the Content, including, without limitation, all intellectual property rights protected as patent pending or patented inventions, trade secrets, copyrights, trademarks, service marks, trade dress, or proprietary or confidential information, and whether or not they happened to be registered. You will not acquire any intellectual property rights in Breakthrough by your use of the Services or the Site.

		15. Your License to Use the Services.

		When you use our Services or Site you may access intellectual property rights that we or our licensors own or license. Subject to your compliance with the terms and conditions of these Terms, Breakthrough grants you a limited, non-exclusive, non-transferable and revocable license, without the right to sublicense, to access and use the Services and to download and print any Content provided by Breakthrough solely for your personal and non-commercial purposes. You may not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Services or Content, except as expressly permitted in these Terms, without Breakthrough’s express prior written consent. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Breakthrough or its licensors, except for the licenses and rights expressly granted in these Terms. Unless otherwise expressly agreed in writing by Breakthrough, the Services are only permitted to be used within the United States of America.

		16. Third-Party Websites; Advertisements.

		We may make available, on our Site and as part of our Services, links to third-party websites or resources from third parties on the Site.

		Breakthrough is not responsible or liable for the availability or accuracy of, and Breakthrough does not endorse, sponsor, or recommend such websites or resources, or the content, products, or services on or available from such websites or resources. When we make available such third-party links or resources on the Site or through the Services, you must look solely to the third party with respect to the content, products, or services they provide. We do not endorse and are not responsible for any of the content, products, or services provided by others. YOUR USE OF THE WEBSITES OR RESOURCES OF THIRD PARTIES IS AT YOUR OWN RISK. BREAKTHROUGH AND ITS AFFILIATES WILL NOT BE LIABLE FOR ANY OF YOUR LOSSES ARISING OUT OF OR RELATING TO THE WEBSITES OR RESOURCES OF THIRD PARTIES.

		17. Disclaimer of Warranties.

		Your use of the Services and Content is at your sole discretion and risk. The Services and Content, and all materials, information, products and services included therein, are provided on an “AS IS” and “AS AVAILABLE” basis without warranties of any kind.

		BREAKTHROUGH AND ITS LICENSORS AND AFFILIATES EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, OR STATUTORY, RELATING TO THE SERVICES AND CONTENT, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OF PROPRIETARY RIGHTS, COURSE OF DEALING, OR COURSE OF PERFORMANCE. BREAKTHROUGH AND ITS LICENSORS AND AFFILIATES MAKE NO WARRANTY THAT THE CONTENT YOU ACCESS ON OUR WEBSITE OR USING OUR SERVICE SATISFIES THE LAWS AND REGULATIONS REQUIRING THE DISCLOSURE OF INFORMATION FOR PRESCRIPTION DRUGS.

		IN ADDITION, BREAKTHROUGH AND ITS LICENSORS AND AFFILIATES DISCLAIM ANY WARRANTIES REGARDING SECURITY, ACCURACY, RELIABILITY TIMELINESS AND PERFORMANCE OF THE SERVICES OR THAT THE SERVICES WILL BE ERROR FREE OR THAT ANY ERRORS WILL BE CORRECTED. NO ADVICE OR INFORMATION PROVIDED TO YOU BY BREAKTHROUGH WILL CREATE ANY WARRANTY THAT IS NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.

		WE MAKE NO REPRESENTATIONS CONCERNING, AND DO NOT GUARANTEE, THE ACCURACY OF THE SERVICES, INCLUDING, BUT NOT LIMITED TO, ANY INFORMATION PROVIDED THROUGH THE SERVICES OR THEIR APPLICABILITY TO YOUR INDIVIDUAL CIRCUMSTANCES. OUR SERVICES AND SITE CONTENT ARE DEVELOPED FOR USE IN THE UNITED STATES AND BREAKTHROUGH AND ITS LICENSORS AND AFFILIATES MAKE NO REPRESENTATION OR WARRANTY CONCERNING THE SERVICES OR SITE CONTENT WHEN THEY ARE USED IN ANY OTHER COUNTRY.

		SOME JURISDICTIONS DO NOT PERMIT US TO EXCLUDE WARRANTIES IN THESE WAYS, SO IT IS POSSIBLE THAT THESE EXCLUSIONS WILL NOT APPLY TO OUR AGREEMENT WITH YOU. IN SUCH EVENT THE EXCLUSIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW.

		18. Indemnification.

		You will indemnify, defend, and hold harmless Breakthrough, Breakthrough’s licensors and affiliates and our respective directors, officers, employees, contractors, agents and representatives, from and against any and all claims, causes of action, demands, liabilities, losses, costs or expenses (including, but not limited to, reasonable attorneys’ fees and expenses) arising out of or relating to any of the following matters:

		(a) your access to or use of the Services, the Site, or the Content;

		(b) your violation of any of the provisions of these Terms of Service;

		(c) any activity related to your Account by you or any other person accessing the Site or Services through your account, including, without limitation, negligent or wrongful conduct; or

		(d) your violation of any third party right, including ,without limitation, any intellectual property right, publicity, confidentiality, property or privacy right.

		Breakthrough reserves the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.

		19. Limitation of Liability.

		IN NO EVENT WILL BREAKTHROUGH OR BREAKTHROUGH’S LICENSORS OR AFFILIATES BE LIABLE TO YOU FOR ANY DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES, OR LOST PROFITS, ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE SERVICES, THE SITE, OR THE CONTENT, WHETHER THE DAMAGES ARE FORESEEABLE AND WHETHER OR NOT BREAKTHROUGH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE. IF YOU ARE DISSATISFIED WITH THE SERVICES, THE SITE OR THE CONTENT, OR THE TERMS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.

		NOTHING HEREIN SHALL LIMIT THE POTENTIAL PROFESSIONAL LIABILITY OF OUR TREATMENT PROVIDERS OR OTHER LICENSED HEALTHCARE PROFESSIONALS ARISING FROM OR RELATED TO MEDICAL OR MENTAL HEALTH ADVICE, DIAGNOSIS, OR TREATMENT THEY PROVIDE TO YOU, EXCEPT AS PROVIDED UNDER APPLICABLE STATE LAWS. IN MANY JURISDICTIONS, TREATMENT PROVIDERS ARE REQUIRED TO REPORT CONFIDENTIAL INFORMATION IF THEY HAVE REASON TO BELIEVE THAT A PATIENT IS LIKELY TO HARM OTHERS OR HIMSELF/HERSELF. IN NO EVENT SHALL BREAKTHROUGH BE LIABLE FOR THE DISCLOSURE OF YOUR CONFIDENTIAL INFORMATION BY A TREATMENT PROVIDER FROM WHOM YOU RECEIVE MENTAL HEALTH SERVICES. BREAKTHROUGH IS NOT LIABLE TO ANY PERSON OR USER FOR ANY HARM CAUSED BY THE NEGLIGENCE OR MISCONDUCT OF A TREATMENT PROVIDER PROVIDING MENTAL HEALTH SERVICES. IN NO EVENT WILL THE CUMULATIVE LIABILITY OF BREAKTHROUGH OR BREAKTHROUGH’S LICENSORS OR AFFILIATES TO YOU, WHETHER IN CONTRACT, TORT, OR OTHERWISE, EXCEED $1,000.

		EXCEPT AS OTHERWISE REQUIRED BY APPLICABLE LAW, ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATING TO YOUR USE OF THE SERVICES, THE SITE OR THE CONTENT OR OUR RELATIONSHIP WITH YOU, REGARDLESS OF THEORY, MUST BE BROUGHT WITHIN ONE (1) YEAR AFTER THE OCCURRENCE OF THE EVENT GIVING RISE TO THE CLAIM OR CAUSE OF ACTION OR BE FOREVER BARRED.

		SOME JURISDICTIONS DO NOT PERMIT US TO LIMIT OUR LIABILITY IN THESE WAYS, SO IT IS POSSIBLE THAT THESE LIMITATIONS WILL NOT APPLY TO OUR AGREEMENT WITH YOU. IN SUCH EVENT THE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW.

		20. Errors and Inaccuracies.

		The information on the Site including, without limitation, information regarding pricing, may contain typographical errors or other errors or inaccuracies, and may not be complete or current. Breakthrough reserves the right to correct any errors, inaccuracies, or omissions and to change or update information at any time without prior notice to you. Breakthrough will not, however, guarantee that any such errors, inaccuracies, or omissions will be corrected. Breakthrough reserves the right to refuse to fill any orders or provide Services that are based on inaccurate or erroneous information on the Site, including, without limitation, incorrect or out-of-date information regarding pricing, payment terms, or for any other lawful reason.

		21. General Terms.

		These Terms of Service constitute the entire agreement between you and us relating to our Services, the Site, and the Content, replacing any prior or contemporaneous agreements, whether written or oral, unless you have signed a separate written agreement with us relating to our Services, the Site, or the Content. If there is any conflict between the Terms and a separate signed written agreement between you and us relating to our Services, the Site, or the Content, the signed written agreement will control. Only the executive officers of Breakthrough have the authority to sign a separate signed written agreement between you and us.

		Our licensors may be entitled to enforce this agreement as third-party beneficiaries. There are no other third-party beneficiaries to this agreement.

		The failure by you or us to enforce any provision of the Terms will not constitute a waiver. If any court of law, having the jurisdiction to decide the matter, rules that any provision of the Terms is invalid or unenforceable, then the invalid or unenforceable provision shall be removed from the Terms or reformed by the court and given effect so as to best accomplish the essential purpose of the invalid or unenforceable provision, and all of the other provisions of the Terms shall continue to be valid and enforceable. Nothing contained in these Terms of Service shall limit the ability of a party to seek an injunction or other equitable relief without posting any bond. The titles of the Sections of the Terms are for convenience only and shall have no legal or contractual effect.

		22. Arbitration.

		For any claim (excluding claims for injunctive or other equitable relief) where the total amount of the award sought is less than $10,000.00 USD, the party requesting relief may elect to resolve the dispute in a cost effective manner through binding non-appearance-based arbitration. If a party elects arbitration, that party will initiate such arbitration through JAMS. The parties must comply with the following rules:

		(a) the arbitrator shall be selected from JAMS and the arbitration shall be conducted in accordance with JAMS’ Comprehensive Arbitration Rules and Procedures, except as otherwise specified below;

		(b) the arbitration shall be conducted by telephone, online and/or be solely based on written submissions, the specific manner shall be chosen by the party initiating the arbitration;

		(b) the arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise mutually agreed by the parties; and

		(c) any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction.

		Any dispute, controversy, or disagreement arising out of or relating to these Terms, the breach thereof, or the subject matter thereof, where the total amount of the award sought is $10,000.00 USD or greater, shall be settled exclusively by binding arbitration. The arbitrator shall be selected from JAMS and the arbitration shall be conducted in accordance with JAMS’ Comprehensive Arbitration Rules and Procedures The arbitration shall be held in the County of Santa Clara, California, unless the parties mutually agree to have such proceeding in some other locale. To the extent of the subject matter of the arbitration, the arbitration shall be binding not only on all parties to these Terms, but on any other entity controlled by, in control of or under common control with the party to the extent that such affiliate joins in the arbitration, and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof.

		23. Governing Law and Forum for Disputes.

		THESE TERMS OF SERVICE AND OUR RELATIONSHIP WITH YOU SHALL BE GOVERNED BY THE LAWS OF THE STATE OF DELAWARE, EXCLUDING ITS CHOICE OF LAWS RULES. YOU AND BREAKTHROUGH EACH IRREVOCABLY AGREES THAT THE EXCLUSIVE VENUE FOR ANY ACTION OR PROCEEDING ARISING OUT OF OR RELATING TO THESE TERMS OF SERVICE OR OUR RELATIONSHIP WITH YOU, REGARDLESS OF THEORY, SHALL BE THE U.S. DISTRICT COURT FOR THE NORTHERN DISTRICT OF CALIFORNIA, OR THE STATE COURTS LOCATED IN SANTA CLARA COUNTY, CALIFORNIA. YOU AND BREAKTHROUGH EACH IRREVOCABLY CONSENTS TO THE PERSONAL JURISDICTION OF THESE COURTS AND WAIVES ANY AND ALL OBJECTIONS TO THE EXERCISE OF JURISDICTION BY THESE COURTS AND TO THIS VENUE. NOTWITHSTANDING THE FOREGOING, HOWEVER, YOU AND BREAKTHROUGH AGREE THAT BREAKTHROUGH MAY COMMENCE AND MAINTAIN AN ACTION OR PROCEEDING SEEKING INJUNCTIVE OR OTHER EQUITABLE RELIEF IN ANY COURT OF COMPETENT JURISDICTION.

		24. Changes to These Terms.

		We reserve the right to change our Terms at any time. Any changes that we make will become a part of our agreement with you when they are posted to our Site. Your continued use of our Services or the Site will constitute your agreement to the changes we have made. The last date these Terms were revised is set forth at the end of this document.

		25. Contacting Us.

		We encourage you to contact us at techsupport@breakthrough.com if you have any questions concerning our Terms. Please note that email communications will not necessarily be secure; accordingly, you should not include credit card information or other sensitive information in your email correspondence with us. If you would like to contact us via physical mail, our mailing address is: Breakthrough, 702 Marshall Street, Suite #510, Redwood City, CA 94063.

		Last Revised: July 8, 2013

		Site copyright 2009-2014 Breakthrough Behavioral, Inc. unless otherwise noted. All rights reserved.
	</div>
</div>
