// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-background-color: #EEEEEF;
$font-stack:  Segoe UI, sans-serif;
$primary-link-color: #FF8800;
$hover-link-color: #CC8833;
$no-text-decoration: none;
$body-margins: 0px;
$border-top-left: 1px solid #EEEEEF;
$menu-gradient-start: #333333;
$menu-gradient-stop: #666666;
$text-shadow: 1px 1px 1px rgba(225,33,0,0.5);
$text-shadow-hover: 1px 1px 8px rgba(33,33,33,1.0);
a:link {
  color: $primary-link-color;
  text-decoration: $no-text-decoration;
}

a:visited {
  color: $primary-link-color;
  text-decoration: $no-text-decoration;
}

a:hover {
  color: $hover-link-color;
  text-decoration: $no-text-decoration;
}

body.header
{
  margin:0px;  
}
div{
  font-family: Segoe UI, sans-serif;    
}

div.header {
  background-color: #333333;  
  width:100%;
  height:110px;
}

div.actionBar {
  background-image: linear-gradient(#333333, #666666);  
  border: 1px solid #333333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: $font-stack;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  float:right;
  margin-right:20px;
  padding: 5px;
  min-width:300px;
  min-height:200px;
  transition: all 0.5s;
  position:relative;
  top: -185px;
  box-shadow:1px 1px 8px rgba(33, 33, 33, 0.9);
}

div.actionDivStatus {
  position:absolute;
  bottom:0;
  padding-bottom:5px;
}

div.actionBar:hover{
  top:0px;
}

div.innerHeader{
  float:left;
}

div.PostHeader{
  height:30px;
  background-image: linear-gradient(#333333, #666666);
}

div.menu_item{
  background-image: linear-gradient(#333333, #666666, #FF8800, #ffc477);
  background-size: auto 300%;
  background-position: 0 0;
  font-size: 16px;
  font-family: $font-stack;
  color:#FF8800;
  transition: all 0.5s;  
  height:30px;
  width:14%;
  float:left;  
  text-align:center;
  //box-shadow: 1px 1px 8px rgba(33, 33, 33, 0.5);
  text-shadow: $text-shadow; 
  border-radius:15px;
}


div.menu_item:hover{
  background-position:0 100%;
  color:#333333;
  text-shadow: $text-shadow-hover;
}

span.vMiddle{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

span.header {
  display:inline-block;
  vertical-align:top;
}

div.DeviseStatusRed {
  background-color:rgba(255,0,0,0.3);
  text-align:center;
  width:300px;
  position:absolute;
  left:500px;
  height:60px;
  border-radius: 5px;
  border: 1px solid #FF0000;
  
}
p.DeviseInnerStatusRed {
  opacity:1.0;
  color:#FF0000;
}

div.DeviseStatusGreen {
  background-color:rgba(0,128,0,0.3);
  text-align:center;
  width:300px;
  position:absolute;
  left:500px;
  height:60px;
  border-radius: 5px dotted;
  border: 1px dotted #00FF00;
  
}
p.DeviseInnerStatusGreen {
  opacity:1.0;
  color:#00AA00;
}

input.submit {
  background-image: linear-gradient(#333333, #666666, #FF8800, #ffc477);
  background-size: auto 300%;
  background-position: 0 0;
  border:0px solid #444444;  
  height: 30px; width: 115px;
  font-size: 16px;
  font-family: $font-stack;
  color:#FF8800;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(33,33,33,0.9);  
  transition: all 0.5s;  
  text-shadow:$text-shadow;
}

input.submit:hover {
  background-position: 0 100%;
  box-shadow: 1px 1px 8px #FF8800;
  border:0px solid #FF8800;
  color:#333333;
  cursor:pointer;
  text-shadow:$text-shadow-hover;
}

input.override {
  width:200px;
}


input.submit:active {
  position:relative;
  top:1px;
}

div.signUpBlockDiv 
{
  clear:both;
  height:45px;
}

div.signInBlockDiv
{
  height:45px;
}

div.signInRememberDiv {
  text-align:right; 
  width:425px;
  float:left;
  height:25px;
  padding-top:5px;
}

div.signUpLabelDiv  {
  text-align:right; 
  width:300px;
  float:left;
  height:25px;
  padding-top:5px;
}

div.signUpInputDiv  {
  width:100px;
  float:left; 
  padding-left:5px;
}

div.signButtonDiv {
  float:left;
  text-align:right;
  width:425px;
}

input.text_field{
  background-image:linear-gradient(#333333, #777777);
  border-radius:10px;
  border-color:#333333;
  box-shadow: 1px 1px 8px rgba(33,33,33,0.9);
  padding:5px;
  height:25px;
  color: #FF8800; 
	border:0;
	font-family: $font-stack;
	font-size:16px;
	text-shadow:$text-shadow;
}

input.text_field:focus {
	box-shadow: 0px 1px 8px #F48004;
	border:0;
}

label.labelStyle {
	color: linear-gradient(#FF8800, #FF8800);
text-shadow: 1px 1px 8px rgba(88,88,88,0.5);
  
}

input[type=checkbox].check_box {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0;
  border:0;
}

input[type=checkbox].check_box + label.check_box_label {
  padding-left:20px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].check_box:checked + label.check_box_label {
  background-position: 0 -15px;
}

.check_box_label{ 
  background-image:url(/assets/dark-check-orange.png); 
  color:#FF8800;
  text-shadow:$text-shadow;
}





div.mainContentPrepare {
  width:100%; 
  padding-top:15px
}
