// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-background-color: #EEEEEF;
$font-stack:  Segoe UI, sans-serif;
$primary-link-color: #FF8800;
$hover-link-color: #CC8833;
$no-text-decoration: none;
$body-margins: 0px;
$border-top-left: 1px solid #EEEEEF;

a:link {
  color: $primary-link-color;
  text-decoration: $no-text-decoration;
}

a:visited {
  color: $primary-link-color;
  text-decoration: $no-text-decoration;
}

a:hover {
  color: $hover-link-color;
  text-decoration: $no-text-decoration;
}

body.header
{
  margin:0px;  
}
div{
  font-family: Segoe UI, sans-serif;    
}

div.header {
  background-color:#333333;
  width:100%;
  height:110px;
}

div.PostHeader{
  height:30px;
}

div.menu_item{
  height:30px;
  width:150px;
  float:left;
  /* background-color:#333333; */
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #444444) );
  background:-moz-linear-gradient( center top, #333333 5%, #666666 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#444444');
  
  text-align:center;
  border-top:$border-top-left;
  border-left:$border-top-left;
}

div.menu_item:hover{
  height:30px;
  width:150px;
  float:left;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF8800), color-stop(1, #FFCC33) );
  background:-moz-linear-gradient( center top, #FF8800 5%, #FFCC33 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8800', endColorstr='#FFCC33');
  color: #333333;
  text-align:center;
  border-top:$border-top-left;
  border-left:$border-top-left;
}

span.vMiddle{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

span.header {
  display:inline-block;
  vertical-align:top;
}

div.DeviseStatusRed {
  background-color:rgba(255,0,0,0.1);
  text-align:center;
  width:300px;
  position:absolute;
  left:500px;
  height:60px;
  border-radius: 5px;
  border: 1px solid #FF0000;
  
}
p.DeviseInnerStatusRed {
  opacity:1.0;
  color:#FF0000;
}

div.DeviseStatusGreen {
  background-color:rgba(0,128,0,0.1);
  text-align:center;
  width:300px;
  position:absolute;
  left:500px;
  height:60px;
  border-radius: 5px dotted;
  border: 1px dotted #00FF00;
  
}
p.DeviseInnerStatusGreen {
  opacity:1.0;
  color:#00AA00;
}

/* input.submit{
  color:#FF0000;
  background-color:#FF8800;
  border: 1px outset #FF8833;
}  */

/*

input.submit:hover{
  color:#FF0000;
  background-color:#FF8800;
  border: 1px  #FF8833;
}*/ 

input.submit {
  -moz-box-shadow:inset 0px 1px 0px 0px #333333;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #333333;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333344) );
  background:-moz-linear-gradient( center top, #333333 5%, #444444 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#000000;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #444444;
  display:inline-block;
  color:#FF8800;
  font-family:$font-stack;
  font-size:16px;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:115px;
  text-decoration:none;
  text-align:center;
}
input.submit:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8800), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #ff8800 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  box-shadow:inset 0px 1px 0px 0px #FF8800;
  background-color:#fb9e25;
  border:1px solid #FF8800;
  color:#333333;
  cursor:pointer;
}input.submit:active {
  position:relative;
  top:1px;
}