<% if notice %>
	<div class="DeviseStatusGreen">
		<p class="DeviseInnerStatusGreen">
			<%= notice %>
		</p>
	</div>
<%end%>
<% if alert %>
	<div class="DeviseStatusRed">
		<p class="DeviseInnerStatusRed">
			<%= alert %>
		</p>
	</div>
<%end%>