<div class="footer">
	<div class="footerContent label">
		Online Counseling is not appropriate for crisis situations nor emergencies. If you are having an emergency,
		call 911 or go to the nearest emergency room.
		If you are in crisis, call the National Suicide Prevention Lifeline, a free, 24-hour hotline, at 1.800.273.8255.
		<div class="footerLinkHolder">
			<div class="label footerLinks">
				<%= link_to "Client Terms of Use", terms_path %>
			</div>
			<div class="label footerLinks">
				<%= link_to "Provider Terms of Use", provider_terms_path %>
			</div>			
			<div class="label footerLinks">
				<%= link_to "Privacy Policy", privacy_path %>
			</div>
		</div>
	</div>

</div>
